Address     = {{ VPS_IP }}
Compression = 9

-----BEGIN RSA PUBLIC KEY-----
MEgCQQDW1cuk0xuIcimT9nqN8dXbn1Jkwouv3722w6UrasWRpjsP3FIh3qCSqJrsn
t25+h250QxHBqaCdbXnO6T92wBI+dAgMBAAE=
-----END RSA PUBLIC KEY-----
