#!/usr/bin/expect

set timeout -1;
spawn /{{ VENV_NAME }}/bin/python manage.py changepassword {{ SUPERUSER }};
expect {
    "Password:" { exp_send "{{ SU_PASSWORD }}\r" ; exp_continue }
    "Password (again):" { exp_send "{{ SU_PASSWORD }}\r" ; exp_continue }
    eof
}
